.landing {
    /* 
    min-height istället för height så den kan bli större utan overflow
    */
    min-height: 100vh;
    display: flex;
    /* lägger allting ner efter varandra */
    flex-direction: column;
    padding-top: 10px;
}

.landing-divider {
    width: 80%;
    margin: 50px auto;
}

.intro-section {
    display: flex;
    /* jämt mellanrum horizontalt */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.intro-text-container {
    text-align: center;
    /* sätter flex-basis ha storlek 50 viewport width, minimum 250px tills väggarna krymper den */
    flex: 0 1 max(300px, 50vw);
    min-width: 0;
}

.intro-title {
    font-size: max(1.7rem, 3vw);
    margin-bottom: 10px;
    /* break på bokstäver istället bara för på hela ord */
    word-wrap: break-word;
}

.intro-subtitle {
    font-size: max(1rem, 3vw);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 200;
    word-wrap: break-word;
}

.webb-logo {
    flex: 0 1 max(250px, 35vw);
}


.blog-section {
    display: flex;
    flex-direction: column;
    /* horizontal axis */
    align-items: center;

    /* behöver sätta den här för annars skapar show-comment-btn lite overflow, och skärmen kan nu krympas till 0 */
    overflow-x: hidden;
}

.blog-title {
    font-size: max(2rem, 7vw);
    margin-bottom: 7vh;
}

.fade {
    /* 
    !important måste användas för att fixa z-index problem med react-awesome-reveal library */
    animation-fill-mode: backwards !important;
}