.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

}

.intro-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.intro-text-container {
    /* sätter flex-basis minimum 400px, ha storlek 40vw, maximum 800px */

    flex: 0 1 clamp(400px, 40vw, 800px);
}

.intro-text-container h1 {
    font-size: clamp(1rem, 5vw, 10rem);
    margin-bottom: 10px;
    white-space: nowrap;
}

.intro-text-container h2 {
    font-size: clamp(1rem, 2vw, 5rem);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
}

.webb-logo {
    flex: 0 1 clamp(300px, 40vw, 1500px);
}