.landing {
    /* 
    min-height istället för height så den kan bli större utan overflow
    */
    min-height: 100vh;
    display: flex;
    /* lägger allting ner efter varandra */
    flex-direction: column;
    padding-top: 10px;
}

.landing-divider {
    width: 80%;
    /* 50px ner upp, auto sidorna för center */
    margin: 50px auto;
}

.intro-section {
    display: flex;
    /* jämt mellanrum horizontalt */
    justify-content: center;
    align-items: center;
    /* tillåt wrap när min-width eller flex-basis max nås */
    flex-wrap: wrap;
    margin-top: 40px;
}

.intro-text-container {
    text-align: center;
    /* sätter flex-basis ha storlek 50 viewport width, minimum 300px när 50vw är mindre, sen shrink när väggarna klämmer */
    flex: 0 1 max(300px, 50vw);
}

.intro-title {
    font-size: max(1.7rem, 3vw);
    margin-bottom: 10px;
    /* tillåt bokstäver att wrappa */
    word-break: break-all;
}

.intro-subtitle {
    font-size: max(1rem, 3vw);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 200;
    word-break: break-all;
}

.webb-logo {
    flex: 0 1 max(250px, 35vw);
}