.landing {
    /* 
    min-height istället för height så den kan bli större utan overflow
    */
    min-height: 100vh;
    display: flex;
    /* lägger allting ner efter varandra */
    flex-direction: column;
    padding-top: 10px;
}

.landing-divider {
    width: 80%;
    /* 50px ner upp, auto sidorna för center */
    margin: 50px auto;
}

.intro-section {
    display: flex;
    /* jämt mellanrum horizontalt */
    justify-content: center;
    align-items: center;
    align-self: center;
    /* tillåt wrap när min-width eller flex-basis max nås */
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 2500px;
}

.intro-text-container {
    margin-right: 2%;
    text-align: center;
    /* sätter flex-basis ha storlek 60% width, minimum 300px och wrap när 60% är mindre, sen shrink när väggarna klämmer */
    flex: 0 1 max(300px, 50%);
}

.intro-title {
    font-size: clamp(1.7rem, 4vw, 7rem);
    margin-bottom: 10px;
    /* tillåt bokstäver att wrappa */
    word-wrap: break-word;

}

.intro-subtitle {
    font-size: clamp(1rem, 3vw, 4rem);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 200;
    word-wrap: break-word;
}

.webb-logo {
    flex: 0 1 max(250px, 30%);
}