.landing {
    /* 
    min-height istället för height så den kan bli större utan overflow
    */
    min-height: 100vh;
    display: flex;
    /* lägger allting ner efter varandra */
    flex-direction: column;
    padding-top: 10px;
}

.landing-divider {
    width: 80%;
    margin: 50px auto;
}

.intro-section {
    display: flex;
    /* jämt mellanrum horizontalt */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.intro-text-container {
    /* sätter flex-basis ha storlek 50 viewport width, minimum 250px tills väggarna krymper den */
    flex: 0 1 max(250px, 50vw);
    min-width: 0;
}

.intro-title {
    font-size: max(1.5rem, 5vw);
    margin-bottom: 10px;
    /* break på bokstäver istället bara för på hela ord */
    word-wrap: break-word;
}

.intro-subtitle {
    font-size: max(1rem, 2vw);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    word-wrap: break-word;
}

.webb-logo {
    flex: 0 1 max(300px, 40vw);
}


.blog-section {
    display: flex;
    flex-direction: column;
    /* horizontal axis */
    align-items: center;
}

.blog-title {
    font-size: max(2rem, 10vw);
    margin-bottom: 20px;
}