:root {
    --nav-color: rgba(204, 250, 255, 0.7);
}

.nav {
    display: flex;
    align-items: center;


}

.nav-title {
    font-weight: 300;
    font-size: max(1.5rem, 3vw);
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.nav-links li {
    margin: 0 1vw;
    font-size: max(1.2rem, 2vw);
}

.nav a {}

.navbar-toggle {
    background: none;
    border: none;
    color: white;
    margin-left: auto;
    display: none;
}




.navbar-toggle:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .nav-inactive {
        display: none;
    }

    .nav-active {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: rgba(67, 0, 121, 0.829);
        z-index: -1;
    }



    .nav .nav-links li {
        font-size: 3.5rem;
    }

    .navbar-toggle {
        display: block;
    }
}