/* mesta kommenterat i Landing/BlogPost */

.header {

    /* Stannar alltid med skroll och påverkar inga andra element */
    position: fixed;
    /* body padding får den annars att overflowa */
    width: 98vw;
    /* Navbar över allt annat */
    z-index: 99;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-weight: 300;
    font-size: max(1.5rem, 2.5vw);
    letter-spacing: 2px;
    /* word-break tillåter alltid wrap på nått sätt, white-space nowrap aldrig */
    white-space: nowrap;
    overflow: hidden;
}

.nav-links {
    /* tar bort ul punkter */
    list-style: none;
}

.nav-links li {
    margin-left: 1vw;
    display: inline-block;
    font-size: max(1.2rem, 1.5vw);
}

.navbar-toggle {
    background: none;
    border: none;
    color: white;
    margin-left: auto;
    display: none;
}

.navbar-toggle span {
    font-size: 3rem;
    color: rgb(252, 58, 58);
}



.navbar-toggle:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {

    /* 
    När fönstret är <=500px width, och nav menyn är klickad,
    sätter den in .nav-active i ul som ändrar till full skärm. När den klickas bort
    så sätts nav-inactive in och gömmer den. Om skärmen ändras till >500px så påverkas inget.
    */
    .nav-inactive {
        display: none;
    }

    .nav-active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 110vh;


        position: absolute;
        /* bypass body padding men känns dåligt */
        left: -1vw;
        right: -1vw;
        top: 0;
        background-color: rgba(67, 0, 121, 0.829);
        /* går under navbar elementen osv */
        z-index: -1;
    }

    .nav .nav-links li {
        font-size: 3.5rem;
    }

    .navbar-toggle {
        display: block;
    }
}