.post-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* Positioneringsankare */
    position: relative;
    margin-bottom: 15vh;
    /* max 1920px för widescreens och större skärmar (stretched jobbigt att läsa), min 400px så aldrig för liten tills väggarna krymper */
    max-width: clamp(400px, 70vw, 1920px);
}


.post-figure {
    /* grow när det finns space, wrap om 40% är 200px */
    flex: 0 1 max(300px, 40%);
    margin-bottom: 10px;
    margin-right: 1%;
}

.post-figure div {
    /* 
    300px minimum, annars 30vw, max 1000px

    vw bättre än vh för wide screens och generellt så om vw är mindre vill jag ha mindre höjd
    */
    max-height: clamp(250px, 25vw, 800px);
    /* skrolla bilden när den är större än 30vh */
    overflow-y: scroll;
}

.post-figure img {
    width: 100%;
}

.post-figure figcaption {
    color: silver;
    font-size: max(0.7rem, 1vw);
}

.post-text-container {
    /* bilden bestämmer min höjden på blogg posten men om det finns mycket text så kommer den att växa pga av detta */
    max-height: 60vh;
    /* grow när det finns space, wrap om 55% är 200px */
    flex: 1 max(200px, 55%);
    margin-left: 10px;
    overflow-y: scroll;
    flex-direction: column;
}

.post-title {
    margin-bottom: 1vh;
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 6rem);
    word-wrap: break-word;
}

.post-text {
    font-size: clamp(1rem, 1.5vw, 4rem);
    word-wrap: break-word;
    font-weight: 300;
}