.comments-main {
    display: none;
    justify-content: center;
    /* absolut postionerar relativt till närmast förälder med position, fixed relativ till rot */
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* högre upp än alla andra element */
    z-index: 9999999;
}

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(82, 0, 177, 0.705);
    z-index: 11;
}


.comments-container {
    background-color: rgb(17, 17, 17);
    height: 80vh;
    width: max(100px, 70vw);

    position: fixed;
    z-index: 12;
    top: 10%;
    /* rundare hörn */
    border-radius: 1%;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
}


.close-comments-btn {
    /* relativ till comments-container */
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    color: rgb(167, 0, 0);
    margin: 0;
    padding: 0;
}

.close-comments-btn span {
    font-size: max(3rem, 5vw);

}

.comments-header {
    text-align: center;

}

.comments-title {
    font-size: max(1rem, 3vw);
}


.comments-title-icon {
    width: max(50px, 10vh);
    height: max(50px, 7vh);
}


.comments {
    height: 100%;
    overflow-y: scroll;
}

.comment-username {
    font-weight: 200;
    font-size: max(0.8rem, 2vw);
}

.comment-text {
    font-size: max(1rem, 2.5vw);
    word-break: break-all;
}

.comments-container hr {
    margin: 10px 0;
}


.comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top fungerar pga förälder är flex */
    margin-top: auto;
    background-color: transparent;
}


/* En vanlig visually-hidden ruleset från online för att gömma men inte för screenreaders */

.comment-form legend {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}


.comment-form label {
    font-size: max(0.5rem, 2vw);
}

.name-input {

    height: 5vh;
    width: 100%;
    font-size: max(0.6rem, 2vw);
}

.comment-input {
    height: 10vh;
    width: 100%;
    resize: none;
    font-size: max(0.6rem, 2vw);
}

.comment-submit-btn {
    flex: 0 0 max(40px, 10%);
    background: none;
    border: none;
    padding: 0;
}