.comments-wrapper {
    /* för show-comments-btn + ta bort från dokumentets flöde så den inte påverkar andra element */
    position: absolute;
    /* overflowar annars till höger */
    right: 1vw;
    bottom: 0;
}

.show-comments-btn {
    /* */
    position: absolute;
    right: 0;
    border: none;
    background: none;
    /* sätter nummret i mitten */
    display: flex;
    align-items: center;
    justify-content: center;

}

.show-comments-btn svg {
    width: clamp(30px, 4vw, 150px);
    height: clamp(30px, 4vw, 150px);
}

.comment-number {
    color: white;
    position: absolute;
    font-size: clamp(0.7rem, 1vw, 4rem);
}

.comments-main {
    display: none;
    justify-content: center;
    /* absolut postionerar relativt till närmast förälder med position, fixed relativ till rot */
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    /* högre upp än allt annat förutom nav */
    z-index: 98;
}

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(82, 0, 177, 0.705);
}


.comments-content-container {
    background-color: rgb(17, 17, 17);
    height: max(300px, 80vh);
    max-width: clamp(400px, 70vw, 1920px);
    position: fixed;
    top: 10%;
    /* rundare hörn */
    border-radius: 1%;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
}


.close-comments-btn {
    /* relativ till comments-container */
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    color: rgb(167, 0, 0);
    margin: 0;
    padding: 0;
}

.close-comments-btn span {
    font-size: clamp(3rem, 5vw, 10rem);

}

.comments-header {
    text-align: center;

}

.comments-title {
    font-size: clamp(1rem, 3vw, 4rem);
}


.comments-title-icon {}

.comments-title-icon svg {
    width: max(50px, 10%);
    height: max(50px, 10%);
}


.comments {
    height: 100%;
    overflow-y: scroll;
}

.comment-username {
    font-weight: 200;
    font-size: clamp(0.8rem, 1.5vw, 4rem);
}

.comment-text {
    font-size: clamp(1rem, 2vw, 5rem);
    word-break: break-all;
}

.comments-content-container hr {
    margin: 10px 0;
}


.comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top fungerar pga förälder är flex */
    margin-top: auto;
    background-color: transparent;
}


/* En vanlig visually-hidden ruleset från online för att gömma men inte för screenreaders */

.comment-form legend {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}


.comment-form label {
    font-size: clamp(0.5rem, 2vw, 3rem);
}

.name-input {

    height: 5vh;
    width: 100%;
    font-size: clamp(0.6rem, 2vw, 3rem);
}

.comment-input {
    height: 10vh;
    width: 100%;
    resize: none;
    font-size: clamp(0.6rem, 2vw, 3rem);
}

.comment-submit-btn {
    flex: 0 0 max(40px, 10%);
    background: none;
    border: none;
    padding: 0;
}