.comments-main {
    display: none;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 9999999;
}

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(82, 0, 177, 0.705);
    z-index: 11;
}


.comments-container {

    background-color: rgb(17, 17, 17);
    height: 80vh;
    width: max(100px, 70vw);
    /* inte bara för att stanna, absolute positionerar relativt till positionerad förälder, det gör inte fixed den går till roten */
    position: fixed;
    z-index: 12;
    top: 10%;
    border-radius: 1%;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.close-comments-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    color: rgb(167, 0, 0);
    margin: 0;
    padding: 0;
}

.close-comments-btn span {
    font-size: max(3rem, 5vw);

}

.comments-title {
    text-align: center;

}

.comments-title h1 {
    font-size: max(1rem, 3vw);
}


.comments-title-icon {
    width: max(50px, 10vh);
    height: max(50px, 7vh);
}


.comments {
    height: 100%;
    overflow-y: scroll;
}

.comment-username {
    font-weight: 200;
    font-size: max(0.8rem, 2vw);
}

.comment-text {
    font-size: max(1rem, 2.5vw);
    word-break: break-all;
}

.comments-container hr {
    margin: 10px 0;
}


.comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top fungerar pga förälder är flex */
    margin-top: auto;
    background-color: transparent;
}


.comment-form fieldset {}


.comment-form label {
    font-size: max(0.5rem, 2vw);
}

.name-input {

    height: 5vh;
    width: 100%;
    font-size: max(0.6rem, 2vw);
}

.comment-input {
    height: 10vh;
    width: 100%;
    resize: none;
    font-size: max(0.6rem, 2vw);
}

.comment-submit-btn {
    flex: 0 0 max(40px, 10%);
    background: none;
    border: none;
    padding: 0;
}